<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.mvc.imagesMpapper">
	<sql id="select-basic-sql">
		SELECT IMAGE_NO, IMAGE_SAVE_NAME, IMAGE_ORIGINAL_NAME, IMAGE_DESCRIPTION
		FROM IMAGES
	</sql>
	<resultMap type="image" id="image-resultmap">
		<id column="IMAGE_NO" property="no"/>
		<result column="IMAGE_SAVE_NAME" property="saveName"/>
		<result column="IMAGE_ORIGINAL_NAME" property="originalName"/>
		<result column="IMAGE_DESCRIPTION" property="description"/>
	</resultMap>
	<insert id="insert" parameterType="image">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT IMAGES_NO_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO IMAGES VALUES(#{no}, #{saveName}, #{originalName}, #{description})
	</insert>
	<select id="selectByNo" resultMap="image-resultmap">
		<include refid="select-basic-sql"/>
		WHERE IMAGE_NO=#{no}
	</select>
	<select id="selectList" resultMap="image-resultmap">
		<include refid="select-basic-sql"/>
	</select>
	
	
</mapper>