<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tp.config.mapper.restaurantMapper">
    
    <resultMap type="restaurant" id="restaurant-resultmap">
        <id column="restaurant_id" property="restaurantId"/>
        <result column="food_category" property="foodCategory"/>
        <result column="location" property="location"/>
        <result column="restaurant_name" property="restaurantName"/>
        <result column="restaurant_tel" property="restaurantTel"/>
        <result column="restaurant_intro" property="restaurantIntro"/>
        <result column="hits" property="hits"/>        
    </resultMap>
    
    <resultMap type="restaurant" id="restaurant-image-resultmap" extends="restaurant-resultmap">
        <collection property="imageList" ofType="tp.vo.RestaurantImage">
            <result column="image" property="image"/>
        </collection>
    </resultMap>
    
    <select id="selectRestaurant" parameterType="_int" resultMap="restaurant-image-resultmap">
        SELECT 	m.restaurant_id, 
				r.food_category, 
				r.location,
				r.restaurant_name,
				r.restaurant_tel,
				r.restaurant_intro,
				r.hits,
				m.image
		FROM RESTAURANT r, RESTAURANTIMAGE m
		WHERE r.restaurant_id = m.restaurant_id (+) AND m.restaurant_id = #{value}
    </select>
    
</mapper>